* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {

    width: 100%;
    /* height: 100%; */
}

header a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
}

header {
    cursor: default;
    margin: 0 auto;
    height: 44px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.icons {
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: none;
    border: none;
}

.get {
    background-color: #f5f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
}


.special a {
    text-decoration: none;
    color: #0066cc;
}

.sp {
    font-size: 17px;
    display: flex;
    width: 190px;
    gap: 8px;
}

.sp1 {
    font-weight: 550;
    font-size: 16px;
    width: 156px;
    gap: 8px;
}

.special {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #f5f5f7;
    width: 950px;
    margin: 0 auto;
    padding: 14px 0;
    margin-top: 20px;
    border-radius: 4px;
}

.img_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
}




h2 span {
    font-size: 24px;
    font-weight: 600;
    color: #86868b;
}

.text_box {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.content {
    margin-top: 40px;
    padding-right: 40px;
    display: flex;
    gap: 60px;
}

/* ********** */
.promo {

    padding-left: 95px;
}
.promo_name{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 50px;
}

.new {
    font-size: 17px;
    font-weight: 400;
    color: #bf4800;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    color: #1d1d1f;
}

.promo_name.price {
    font-size: 16px;
}

.promo_img {
    width: 940px;
    border-radius: 25px;
    overflow: hidden;
    height: 480px;
}

/* ************* */
.features {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 50px;
    width: 340px;
    margin-bottom: 50px;
}

.g_box {
    text-align: right;
    width: 290px;
    height: 104px;
}

.gets {
    font-size: 12px;
    margin: 8px 0;
    padding: 11px 14px;
    width: auto;
    border: none;
    border-radius: 50px;
}


.promo {
    position: sticky;
    top: 20px;
    height: 600px;
}




.model_boxs {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: 100%;
}

.model_box {
    border: 1px solid #86868b;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.model_box p {
    font-size: 19px;
    font-weight: bold;
    line-height: 25px;
}

.model_box span {
    display: flex;
    font-size: 14px;
    color: #89898e;
    text-align: end;
}

.need_help {
    display: flex;
    text-align: left;
    border: none;
    padding: 16px;
    background-color: #f5f5f7;
    border-radius: 15px;
}

.need_help p {
    font-size: 14px;
    font-weight: 550;
    line-height: 20px;
}

.need_help span {
    font-size: 13px;
    font-weight: 400;
}




.collor_box {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.collor_box p {
    font-size: 20px;
    font-weight: bold;
}

.collor_balls {
    display: flex;
    gap: 14px;

}

.ball {
    cursor: pointer;
    width: 32px;
    height: 32px;

    border-radius: 50%;
}

.bal {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.bal:hover {
    border: 2px solid #d2d2d7;
}






.storage_boxs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.gb {
    font-weight: 100;
}



.helps{
    width: 100%;
    padding-right: 20px;
    margin-top: -20px;
    background-color: #f5f5f7;
    overflow: hidden;
    height: 120px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
}
.helps img{
    
    height: 100%;
    width: 132px;
}


.helps p {
    font-size: 18px;
    font-weight: 550;
    line-height: 20px;
}

.helps span {
    font-size: 16px;
    font-weight: 400;
}





.activ {
    border: 2px solid #0071e3;
}








.activs{
    z-index: -10;
    background-color: #bdbdca;
    border-radius: 30px;
    padding:8px ;
}
